absl-py
astunparse
bcrypt
blinker
cachetools
certifi
charset-normalizer
click
cmake
colorama
contourpy
cycler
dlib==19.24.6
dnspython
easyocr
face-recognition
face-recognition-models
facenet-pytorch
filelock
Flask==3.0.0
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
imageio
imutils
itsdangerous
Jinja2
joblib
keras  # KHÔNG nên pin version với TensorFlow 2.19+
Keras-Applications
keras-facenet
Keras-Preprocessing
kiwisolver
lazy_loader
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
mtcnn
namex
networkx
ninja
numpy>=1.21.0,<1.27.0
oauthlib
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
psutil
psycopg2
psycopg2-binary
pyasn1
pyasn1_modules
pyclipper
Pygments
PyJWT
pymongo
pyparsing
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-oauthlib
rich
rsa
scikit-image
scikit-learn
scipy
seaborn
shapely
six
SQLAlchemy
sympy
tenseal
tensorboard
tensorboard-data-server
tensorflow==2.19.0
 tensorflow-io-gcs-filesystem 
termcolor
threadpoolctl
tifffile
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
